.App {
  text-align: center;
  margin: 20px 20px 20px 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid #FFF;
  margin: 50px auto 50px auto;
}

table td {
  padding: 4px 12px 4px 12px;
}

.choose-button {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  background: #CCC;
}

.reset-button {
  background: #CCC;
  padding: 8px 50px 8px 50px;
}

.show {
  display: block;
}

.hide {
  display: none;
}